# Dependency directories
node_modules/
.env
moodify-12-firebase-adminsdk-vof02-d7862b8c2f.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
*.swp
